@*@using PDKS_Code_First.Entity
@model List<PersonelBelgeler>
@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Listele", "PersonelKiyafet", FormMethod.Get))
{

    <strong>
        TC Kimlik No : @Html.TextBox("tc");

        Ad : @Html.TextBox("ad");

        Soyad : @Html.TextBox("soyad");
        <input type="submit" value="Ara" class="btn btn-primary" />

    </strong>

}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel Id</th>
        <th>TC KİMLİK NO</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DEPARTMAN ADI</th>
        <th>BELGE ADI</th>
        <th>DOSYA YOLU</th>
        <th>BELGE TİPİ</th>       
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.PersonelOzlukBilgileri.Id</td>
            <td>@x.PersonelOzlukBilgileri.TcKimlik </td>
            <td>@x.PersonelOzlukBilgileri.Ad</td>
            <td>@x.PersonelOzlukBilgileri.Soyad</td>
            <td>@x.PersonelOzlukBilgileri.Departmanlar.DepartmanAdi</td>
            <td>@x.BelgeAdi</td>
            <td>@x.DosyaYolu</td>
            <td>@x.BelgeTipi</td>
            <td>
                @Html.ActionLink("SİL", "Sil", new { id = x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Personel Belge Kaydını Silmek İstediğinize emin misiniz?')" })

            </td>
            <td>
                <a href="/Belgeler/GetirGuncelle/@x.Id" class="btn btn-success">GÜNCELLE</a>
            </td>
        </tr>
    }
</table>
<font size="4" color="red" face="Arial" class="text-danger"> @TempData["Warning"] </font>
<a href="/Belgeler/EkleListe/" class="btn btn-primary">EKLE</a>*@

