@using PDKS_Code_First.Entity
@model List<IzinTakip>

@{
    ViewBag.Title = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Listele", "İzinTakip", FormMethod.Get))
{

    <strong>
        TC Kimlik No : @Html.TextBox("tc");

        Ad : @Html.TextBox("ad");

        Soyad : @Html.TextBox("soyad");
        <input type="submit" value="Ara" class="btn btn-primary" />

    </strong>

}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel Id</th>
        <th>TC KİMLİK NO</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>İzinTalepTarihi</th>
        <th>İzinBasTarihT</th>
        <th>İzinBitisTarihi</th>
        <th>İzinGunSayisi</th>
        <th>Izintipi</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.Id</td>
    <td>@x.PersonelOzlukBilgileri.Id</td>
    <td>@x.PersonelOzlukBilgileri.TcKimlik </td>
    <td>@x.PersonelOzlukBilgileri.Ad</td>
    <td>@x.PersonelOzlukBilgileri.Soyad</td>
    <td>@x.IzinTalepTarihi</td>
    <td>@x.IzinBaslangicTarihi</td>
    <td>@x.İzinBitisTarihi</td>
    <td>@x.IzinliGunSayisi</td>
    <td>@x.IzinTipi</td>

    <td>
        @Html.ActionLink("SİL", "Sil", new { id = x.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Personel İzin Kaydını Silmek İstediğinize emin misiniz?')" })

    </td>
    <td>
        <a href="/İzinTakip/GetirGuncelle/@x.Id" class="btn btn-success">GÜNCELLE</a>
    </td>
</tr>
    }
</table>
<font size="4" color="red" face="Arial" class="text-danger"> @TempData["Warning"] </font>
<a href="/İzinTakip/EkleListe/" class="btn btn-primary">İzin Ekle</a>


